/* HEADER */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.input-login , .input-password {
  border: none;
  border-radius: 6px;
  height: 30px;
  margin-right: 10px;
  width: 120px;
}

#btn {
  background-color: rgb(78, 44, 131);
  border: none;
  border-radius: 6px;
  color: rgb(239, 239, 239);
  height: 30px;
  margin-right: 10px;
  width: 120px;
}

.trybewarts-header-logo {
  width: 60px;
}

#trybewarts-header-title {
  display: flex;
  align-items: center;
  color: rgb(239, 239, 239);
}


/* MAIN */
.title-form {
  display: flex;
  color: rgb(51, 49, 49);
  justify-content: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 675px;
}

main {
  display: flex;
  margin-top: 10px;
  width: 675px;
}

#evaluation-form input {
  margin-bottom: 10px;
}

.container-name {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
  position: absolute;
  left: 60%;
}

.avaliation {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.avaliation-label {
  margin-left: 10px;
}

#label-rate {
  display: flex;
}

#coments {
  display: flex;
  flex-direction: column;
}

#coments textarea {
  width: 500px;
  height: 100px;
}


.container-label-family {
  display: flex;
  flex-direction: column;
}

.label-container {
  margin-left: 20px;
}

.container-label {
  display: flex;
  flex-direction: column;
}
