/* HEADER */
.header {
  display: flex;
  align-items: center;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.header form input {
  margin-right: 20px;
}

.header button {
  margin-right: 20px;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-header-logo {
  width: 60px;
  margin-left: 10px;
}

h1 {
  color: white;
}
