* {
  font-family: Lora, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(244, 244, 244);
}

/* ------ HEADER ------ */
.header {
  align-items: center;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  height: 70px;
}

/* h1 */
#trybewarts-header-title {
  color: white;
  font-size: 2.2em;
}

/* logo */
.trybewarts-header-logo {
  height: 60px;
  padding: 5px 10px;
}

/* form */
.trybewarts-login {
  display: flex;
  padding: 0 10px;
}

/* containers */
.container-email , .container-password {
  display: flex;
}

/* icons */
#icon-email , #icon-password {
  color: rgb(69, 147, 72);
  font-size: 1.4em;
  margin: 5px;
}

/* inputs */
#input-email-header , #input-password-header {
  border: 2px solid rgb(1, 191, 1);
  border-radius: 8px;
  height: 35px;
  outline: none;
  padding: 0 5px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 100px;
}

#id-email-header:focus , #id-password-header:focus {
  box-shadow: 0 0 10px rgb(136, 136, 136);
}

/* botão */
#btn-entrar {
  align-items: center;
  background: rgb(99, 9, 156);
  border: 2px solid rgb(69, 11, 104);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  height: 39px;
  margin-left: 8px;
  transition: 0.4s;
  width: 100px;
}

#btn-entrar:hover {
  background: white;
  box-shadow: 0 0 10px rgb(136, 136, 136);
  color: rgb(99, 9, 156);
}

/* ------ MAIN ------ */
.main {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

/* form */
#trybewarts-main-title {
  font-size: 1.2em;
  margin: 28px 0 18px;
}

#evaluation-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  width: 675px;
}

/* inputs */
#input-name , #input-lastname {
  border: none;
  border-radius: 8px;
  height: 35px;
  outline: none;
  padding: 0 5px;
  width: 18rem;
}

/* inputs */
#input-email , #house {
  background-color: white;
  border: none;
  border-radius: 8px;
  height: 35px;
  margin-top: 20px;
  outline: none;
  padding: 0 5px;
  width: 17rem;
}

#label-house {
  font-weight: 500;
}

.linha {
  border: 1px solid rgb(210, 210, 210);
  margin: 10px;
  width: 38.5rem;
}

/* família e conteúdo */
.family-content {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.container-label-content {
  width: 340px;
}

#label-family , #label-content {
  font-weight: 500;
}

#labels-tech {
  margin-top: 10px;
}

/* radios de tech */
#front-tech , #back-tech , #full-tech {
  padding: 4px 0;
}

/* checks de conteúdo */
.checks-content {
  margin-top: 10px;
}

.hof-jest-promises , .react-sql-python {
  padding: 7px 0;
}

/* ------ LOGO ------ */
#trybewarts-forms-logo {
  height: 500px;
}
